@import '../config';


div.header-info {
    @include Flex(c, c);
    padding: 2em 0 3em 0;
    
    p {
        @include Clamp(.95, 4, 1.2);
        font-weight: 700;
        letter-spacing: 1px;

        span {
            font-size: .9rem;
            color: rgb(85, 85, 85);
            font-weight: 700;
        }
    }

    span.icon {
        @include Rectangle(23px);
        margin-left: .75em;
        color: rgb(85, 85, 85);
    }
}