@import '../../config';

footer.layout-footer {
   background: #121212;
   @include Flex(c, c);
   padding: clamp(4em, 15vw, 8em) 0;
   flex-direction: column;
   color: rgb(141, 141, 141);

   div,
   section.text-section {
      @include Center(1050px);
      max-width: 90%;
   }
   
   div {
      @include Flex(c, c);
      color: $clr-white;
      border-top: 2px solid grey;
      padding-top: 2em;

      span.icon {
         margin: 0 .5em;
         @include Rectangle(clamp(28px, 6vw, 35px));
         cursor: pointer;
         transition: .3s;
         position: relative;

         svg {
            @include FullSize;
            pointer-events: none;
            transition: .3s;
         }

         &:not(.mail)::before,
         &.mail span {
            padding: .2em .4em;
            background: #303030;
            border-radius: .15em;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            pointer-events: none;
            font-size: .8rem;
            top: 0;
            opacity: 0;
            transition: .3s;
            font-weight: 400;
         }

         &:not(.mail) {
            &::before { content: attr(data-txt); }

            &:hover {
               &::before {
                  opacity: 1;
                  top: 110%;
               }
            }
         }

         &.mail {
            span { white-space: nowrap; }

            &:hover span {
               opacity: 1;
               top: 110%;
            }
         }

         &:hover {
            svg { color: rgb(92, 133, 255); }
         }
      }
   }

   section.text-section {
      @include Flex(sb, c);
      margin-bottom: 2em;

      h1 {
         @include Clamp(.8, 3, 1);
         font-weight: 700;
         text-transform: uppercase;
      }

      section.lists {
         display: flex;

         ul {
            list-style: none;
            &:last-child { margin-left: 2.5em; }

            li {
               @include Clamp(.9, 4, 1.5);
               font-weight: 500;
               font-family: 'Roboto Mono', monospace;
               &:first-child { margin-bottom: .5em; }
               cursor: pointer;
               transition: .3s;

               &:hover {
                  color: royalblue;
               }
            }
         }
      }

      @media (max-width: 480px) {
         flex-direction: column;

         h1 { margin-bottom: 2em; }
      }
   }
}