@import '../../config';


footer.layout-footer {
   background: #121212;
   @include Flex(c, c);
   padding: clamp(4em, 15vw, 8em);
   flex-direction: column;
   color: rgb(141, 141, 141);

   section.icons-section,
   section.text-section {
      width: 100%;
   }

   section.socials {
      display: flex;
      
      span {
         @include Rectangle(35px);         
         margin: 0 .5em;
         color: $clr-whitel;
         @include HoverBG(300ms, none, none);
      }
   }

   section.icons-section {
      @include Flex(c, c);
      color: $clr-whitel;
      border-top: 2px solid grey;
      padding-top: 2em;

      span.icon {
         margin: 0 .5em;
         @include Rectangle(35px);
         cursor: pointer;
         position: relative;

         svg { 
            @include HoverBG(300ms, auto, $clr-bluel);
            @include Rectangle; 
         }

         p {
            padding: .2em .4em;
            background: #303030;
            position: absolute;
            left: 50%;
            translate: -50% 100%;
            pointer-events: none;
            font-size: .8rem;
            bottom: 0;
            min-width: max-content;
            transition: 250ms;
            opacity: 0;
            font-weight: 400;
         }
      }
   }

   section.text-section {
      @include Flex(sb, c);
      margin-bottom: 2em;

      p.header {
         @include Clamp(.9, 4, 1.5);
         font-weight: 700;
         text-transform: uppercase;
      }

      section.lists {
         display: flex;

         ul {
            list-style: none;
            &:last-child { margin-left: 2.5em; }

            li {
               @include Clamp(.9, 4, 1.5);
               font-weight: 500;
               font-family: 'Roboto Mono', monospace;
               @include HoverBG(.3s, auto, $clr-bluel);

               &:first-child { margin-bottom: .5em; }
            }
         }
      }


      @media (max-width: 480px) {
         flex-direction: column;

         h1 { margin-bottom: 2em; }
      }
   }
}