@import '../config';

section.home-abilities {
   @include TopSeparator;
   position: relative;

   span.background-icon {
      height: 1%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 2s;
      
      svg { color: white; transition: 2s; }
   }

   section.container {
      @include Flex(sa, c);
      align-items: stretch;
      position: relative;
      margin-bottom: 3.5em;
      flex-wrap: wrap;

      article.ability {
         width: 30%;
         min-width: 450px;
         background: #252525;
         padding: clamp(1.5em, 6vw, 2.5em);
         margin: 0 .5em 1.5em .5em;
         border-radius: 1em;
         @include Flex(sb, none);
         flex-direction: column;
         transition: .3s;

         div {
            margin-top: 1.5em;
            @include Flex(none, c);
            cursor: pointer;
            transition: .3s;
            width: max-content;

            p,
            span { pointer-events: none; }

            p {
               text-transform: uppercase;
               @include Clamp(.8, 5, .9);
               font-weight: 700;
            }

            span {
               @include Rectangle(25px);
               margin-left: .5em;

               svg { @include Rectangle; }
            }

            &:hover { transform: translateX(5%); }
         }

         p.info {
            font-weight: 300;
            @include Clamp(.85, 4, .95);
         }

         p.what {
            text-transform: uppercase;
            font-weight: 800;
            @include Clamp(1.25, 4, 1.5);
            margin-bottom: .75em;
            margin-top: .15em;
         }

         span.icon {
            display: block;
            width: 20%;
            aspect-ratio: 1;

            svg { @include Rectangle; }
         }
      }
   }

   div.entry-info {
      font-family: 'Roboto Mono', monospace;

      svg { @include Rectangle; }
   }


   @media (max-width: 768px) {
      section.container {
         position: static;

         article.ability {
            min-width: auto;
            width: 100%;
            background: #25252560;
         }
      }
   }
}