@import '../config';

section.home-contact {
   @include TopSeparator;
   min-height: 100vh;

   section.contact-text { 
      position: relative; 
      @include Flex(sb, none);
      flex-direction: column;

      span.background-icon {
         width: 80%;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
      }
   }

   section.socials {
      margin-top: 5em;

      @media (max-width: 480px) {
         margin-top: 2.5em;
      }
   }

   div.wrap {
      @include Flex(sa, none);
      padding: 0 2em;
      margin-top: 2em;

      @media (max-width: 768px) {
         flex-direction: column;
      }

      @media (max-width: 480px) {
         padding: 0 .5em;
         margin-top: 1em;
      }
   }

   div.entry-info {
      font-family: 'Roboto Mono', monospace;

      svg { @include FullSize; }
   }
}