@import '../config';

header.home-header {
   height: 100vh;
   position: relative;
   @include Flex(fs, c);

   section.left-informations {
      width: 640px;
      max-width: 100%;
      margin-left: clamp(0em, 4vw, 4em);
      z-index: 2;
      padding-left: 2em;
      border-left: 3px solid transparent;
      overflow: hidden;
      animation: border 2s;
      animation-fill-mode: forwards;
      animation-delay: 1.5s;

      @keyframes border {
         0% { border-color: transparent; }
         100% { border-color: royalblue; }
      }

      p {
         margin: .75em .5em 2em 0;
         @include Clamp(.8, 2.5, .95);
         font-weight: 400;
         animation: rightBlend 2s;
         animation-fill-mode: forwards;
         transform: translateX(200%);

         span {
            color: lightblue;
            font-weight: 700;
         }

         @keyframes rightBlend {
            0% { transform: translateX(200%); }
            100% { transform: translateX(0); }
         }
      }

      button {
         padding: clamp(.5em, 5vw, 1.5em) clamp(1.5em, 5vw, 2.5em);
         border-radius: .5em;
         outline: 0;
         border: 2px solid royalblue;
         background: none;
         cursor: pointer;
         &, & > * { transition: .3s; }

         label {
            color: royalblue;
            font-weight: 500;
            @include Clamp(.9, 4, 1.1);
            letter-spacing: -1px;
            font-family: 'Sora', sans-serif;
         }

         &:hover {
            label { color: $clr-white; }
            background: rgb(58, 94, 205);
         }
      }

      div.headers {
         position: relative;
         
         h1,
         h2 {
            @include Clamp(1.75, 7, 3.5);
            font-weight: 600;
            @include Flex(none, c);
            animation: leftBlend 2s;
            animation-fill-mode: forwards;
            transform: translateX(-200%);
   
            span {
               font-family: 'Roboto Mono', monospace;
               font-weight: 700;
               margin-left: .35em;
               word-spacing: -10px;
               color: rgb(121, 154, 255);
            }

            svg {
               @include Rectangle(clamp(23px, 6vw, 55px));
               margin-left: clamp(.1em, 1vw, .25em);
            }
         }

         h2 {
            animation-delay: .75s;
         }

         @keyframes leftBlend {
            0% { transform: translateX(-200%); }
            100% { transform: translateX(0); }
         }
      }
   }

   figure {
      @include Absolute(0, 0);
      @include FullSize;
      background: rgb(12, 17, 17);

      img {
         @include FullSize;
         object-fit: cover;
      }
   }

   @media (max-width: 480px) {
      section.left-informations {
         padding: 0;
         border: 0;

         div.headers {
            text-align: center;
         }
      }
   }
}