@import '../config';


main.projects-page {
   min-height: 100vh;
   padding: calc($navHeight + 3em) 4em 5em 4em;
   position: relative;

   section.entry-section {
      @include Flex(sb, c);
      margin-bottom: 1em;

      div.searchbar {
         width: 25%;
         min-width: 180px;
         position: relative;
         margin-left: .5em;

         span {
            position: absolute;
            right: .25em;
            top: 50%;
            translate: 0 -50%;
            @include Rectangle(25px);
         }  

         input {
            width: 100%;
            padding: 1em;
            padding-right: 3em;
            border: 0;
            border-radius: .25em;
            outline: 0;
            color: $clr-whitel;
            font-weight: 400;
            @include Clamp(.9, 4, 1);
            background: #282828;
         }       
      }

      h1.number {
         font-weight: 600;
         @include Clamp(1.2, 5, 2);
      }
   }

   section.filter {
      height: 100vh;
      background: #282828;
      z-index: 99;
      translate: -100% 0;
      transition: .5s;
      position: fixed;
      width: 30%;
      min-width: 480px;
      left: 0;
      top: 0;
      padding: 2em 1.5em;
      display: flex;
      flex-direction: column;

      p.text {
         font-size: 2rem;
         margin-bottom: 2em;
         font-weight: 600;
      }

      span.filter-icon {
         @include Rectangle(clamp(30px, 10vw, 50px));
         @include Flex(c, c);
         background: royalblue;
         border-radius: .1em;
         transition: .3s;
         cursor: pointer;
         position: absolute;
         left: 100%;
         top: 50%;
         translate: 0 -50%;

         svg { @include Rectangle(60%); }

         &:hover { background: darken(royalblue, 10%) }
      }

      form.container {
         transition: .3s;
         overflow: scroll;
         flex-grow: 1;

         p.by-info {
            margin-bottom: .25em;
            font-weight: 600;
         }

         div.select {
            width: 100%;
            position: relative;
            border-radius: .2em;
            border: 1px solid rgb(49, 49, 49);
            background: #202020;
            margin-bottom: 1.5em;

            div.current {
               @include Flex(sb, c);
               cursor: pointer;
               padding: 1em;

               input {
                  width: max-content;
                  background: none;
                  font-family: 'Roboto Mono', monospace; 
                  font-size: .9rem;
                  outline: 0;
                  border: 0;
                  width: 80%;
                  pointer-events: none;
                  color: $clr-whitel;
               }

               span {
                  @include Rectangle(25px);
                  transition: .3s;
                  svg { @include Rectangle; }
               }

               input, span { pointer-events: none; }
            }

            ul {
               position: absolute;
               top: 100%;
               left: 0;
               width: 100%;
               display: none;
               transition: .3s;
               height: 0;
               background: #151515;
               border: 1px solid rgb(49, 49, 49);
               border-top: 0;
               border-radius: 0 0 .15em .15em;
               z-index: 9;
               list-style: none;
               overflow: hidden;

               li {
                  padding: 1em .5em;
                  font-size: .9rem;
                  font-weight: 400;
                  @include HoverBG(.3s, $clr-bluedr);
               }
            }
         }
      }

      @media (max-width: 480px) {
         min-width: 100%;
         width: 100%;
         padding: 2em .75em;
         background: rgba(40, 40, 40, 0.95)
      }
   }

   section.project-container {
      @include Flex(sa, c);
      flex-wrap: wrap;
      align-items: stretch;
      padding: 2em 1em;
      background: #202020;
   }

   @media (max-width: 480px) {
      padding: calc($navHeight + 3em) 1em 5em 1em;

      section.project-container {
         padding: 2em 0em;
      }
   }
}