@import '../config';

main.projects-page {
   min-height: 100vh;
   padding-top: $navHeight;

   h1.number {
      @include Center(90%);
      margin-bottom: 1.5em;
      font-size: 1.25rem;
      font-weight: 600;
   }

   section.filter {
      background: #111111;
      @include Center(90%);
      margin-top: .5em;
      margin-bottom: 2em;
      padding: .5em;
      display: flex;
      position: relative;
      flex-direction: column;

      div.filter-text {
         @include Flex(none, c);
         width: max-content;
         margin-bottom: .5em;

         h1,span.icon { pointer-events: none; }

         h1 {
            font-size: .9rem;
            font-weight: 500;
         }

         span.icon {
            @include Rectangle(20px);
            display: none;
            transition: .3s;

            svg { @include FullSize; }
         }
      }

      form.container {
         display: flex;
         transition: .3s;

         div.select {
            position: relative;
            border-radius: .4em;
            border: 1px solid grey;
            background: #101010;
            &:not(:last-child) { margin-right: 1em; }

            div.current {
               @include Flex(sb, c);
               cursor: pointer;
               padding: .5em;

               input {
                  width: max-content;
                  background: none;
                  font-family: 'Roboto Mono', monospace; 
                  @include Clamp(.7, 2, .9);
                  outline: 0;
                  border: 0;
                  width: 80%;
                  pointer-events: none;
                  color: $clr-white;
               }

               span {
                  @include Rectangle(20px);
                  svg { @include FullSize; }
               }

               input, span { pointer-events: none; }
            }

            ul {
               position: absolute;
               top: 100%;
               left: 0;
               width: 100%;
               display: none;
               transition: .3s;
               height: 0;
               overflow: hidden;
               background: #101010;
               border: 1px solid grey;
               border-top: 0;
               border-radius: 0 0 .15em .15em;
               z-index: 9;
               list-style: none;

               li {
                  padding: 1em .5em;
                  @include Clamp(.7, 2, .9);
                  font-weight: 400;
                  transition: .3s;
                  cursor: pointer;

                  &:hover {
                     background: rgb(57, 94, 205);
                  }
               }
            }
         }
      }

      @media (max-width: 480px) {
         align-items: center;

         form.container {
            flex-direction: column;
            width: 100%;
            height: 0;
            display: none;
            overflow: hidden;

            div.select {
               width: 100%;
            }
         }

         div.filter-text {
            cursor: pointer;

            span.icon { display: block; }
         }
      }
   }

   section.project-container {
      @include Flex(sa, c);
      flex-wrap: wrap;
   }
}