section.home-abilities {
  position: relative;
  border-top: 1px solid #303030;
  position: relative;
}
section.home-abilities::before, section.home-abilities::after {
  position: absolute;
  content: "";
  top: 0;
  transform: translateY(-50%);
  width: 8%;
  padding: 0.75em 0;
}
section.home-abilities::before {
  left: 0;
  border-radius: 0 0.2em 0.2em 0;
  background: linear-gradient(to right, #161616, #222121, #4a4a4a);
}
section.home-abilities::after {
  right: 0;
  border-radius: 0.2em 0 0 0.2em;
  background: linear-gradient(to left, #161616, #222121, #4a4a4a);
}
section.home-abilities span.background-icon {
  height: 1%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 2s;
}
section.home-abilities span.background-icon svg {
  color: white;
  transition: 2s;
}
section.home-abilities div.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: stretch;
  position: relative;
  margin-bottom: 3.5em;
  flex-wrap: wrap;
}
section.home-abilities div.container article.ability {
  width: 30%;
  min-width: 450px;
  background: #252525;
  padding: clamp(1.5em, 6vw, 2.5em);
  margin: 0 0.5em;
  margin-bottom: 1.5em;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  transition: 0.3s;
}
section.home-abilities div.container article.ability div {
  margin-top: 1.5em;
  display: flex;
  justify-content: none;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  width: max-content;
}
section.home-abilities div.container article.ability div h3, section.home-abilities div.container article.ability div span {
  pointer-events: none;
}
section.home-abilities div.container article.ability div h3 {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 5vw, 0.9rem);
  font-weight: 700;
}
section.home-abilities div.container article.ability div span {
  display: block;
  height: 25px;
  width: 25px;
  margin-left: 0.5em;
}
section.home-abilities div.container article.ability div span svg {
  width: 100%;
  height: 100%;
}
section.home-abilities div.container article.ability div:hover {
  transform: translateX(5%);
}
section.home-abilities div.container article.ability p {
  font-weight: 300;
  font-size: clamp(0.85rem, 4vw, 0.95rem);
}
section.home-abilities div.container article.ability h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  margin-bottom: 0.75em;
  margin-top: 0.15em;
}
section.home-abilities div.container article.ability span.icon {
  display: block;
  width: 20%;
  aspect-ratio: 1;
}
section.home-abilities div.container article.ability span.icon svg {
  width: 100%;
  height: 100%;
}
section.home-abilities div.entry-info {
  font-family: "Roboto Mono", monospace;
}
section.home-abilities div.entry-info svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  section.home-abilities div.container {
    position: static;
  }
  section.home-abilities div.container article.ability {
    min-width: auto;
    width: 100%;
    background: rgba(37, 37, 37, 0.3764705882);
  }
}