form.mail-form {
  width: 57%;
  border-radius: 0.2em;
  border: 1px solid #303030;
  padding: 2em;
}
form.mail-form textarea,
form.mail-form input {
  width: 100%;
  background: none;
  border: 0;
  outline: 0;
  padding: 0.5em;
  color: rgb(245, 245, 245);
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  transition: 0.3s;
}
form.mail-form label.input-label {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: grey;
  transition: 0.5s;
}
form.mail-form button {
  width: 25%;
  height: 55px;
  outline: 0;
  margin-top: 1.5em;
  background: #181818;
  border: 2px solid rgb(56, 91, 196);
  cursor: pointer;
  position: relative;
}
form.mail-form button, form.mail-form button > * {
  transition: 0.3s;
}
form.mail-form button::before, form.mail-form button::after {
  content: "";
  position: absolute;
  z-index: 2;
  background: #181818;
  transition: 0.3s;
}
form.mail-form button::before {
  width: 70%;
  height: calc(100% + 4px);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}
form.mail-form button::after {
  width: calc(100% + 4px);
  height: 60%;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
}
form.mail-form button label {
  font-size: 1rem;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  color: rgb(81, 122, 247);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  height: 100%;
  background: #181818;
}
form.mail-form button:hover {
  background: rgb(56, 91, 196);
}
form.mail-form button:hover label {
  color: rgb(245, 245, 245);
  background: transparent;
}
form.mail-form button:hover::before {
  transform: translateX(-50%) scaleX(0);
}
form.mail-form button:hover::after {
  transform: translateY(-50%) scaleY(0);
}
form.mail-form h6.error {
  color: rgb(230, 10, 10);
  position: absolute;
  width: max-content;
  font-size: 0.75rem;
  font-weight: 400;
  animation: anim 0.25s;
  animation-delay: 1.75s;
}
@keyframes anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
form.mail-form div.textarea {
  position: relative;
  margin-top: 3em;
  height: 250px;
  background: #151515;
  border-radius: 0.15em;
}
form.mail-form div.textarea h6.error {
  bottom: 100%;
  right: 0;
}
form.mail-form div.textarea label {
  top: 0.5em;
  left: 0.5em;
}
form.mail-form div.textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
form.mail-form div.input-div {
  position: relative;
}
form.mail-form div.input-div span.error {
  top: 110%;
  left: 0;
}
form.mail-form div.input-div label {
  top: 50%;
  transform: translateY(-50%);
}
form.mail-form div.input-div input {
  border-bottom: 1px solid royalblue;
}
form.mail-form div.div-wrap {
  display: flex;
  justify-content: space-between;
  align-items: none;
  margin-bottom: 3em;
}
form.mail-form div.div-wrap div.input-div {
  width: 45%;
}

section.contact-text {
  width: 28%;
}
section.contact-text p {
  font-weight: 400;
  font-size: 0.95rem;
  color: rgb(207, 207, 207);
}
section.contact-text h2 {
  font-weight: 700;
  margin-bottom: 2em;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}