main.projects-page {
  min-height: 100vh;
  padding-top: 83.6px;
}
main.projects-page section.filter {
  background: #111111;
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 3em;
  padding: 0.5em;
  display: flex;
  justify-content: none;
  align-items: center;
}
main.projects-page section.filter form.container {
  display: flex;
}
main.projects-page section.filter form.container div.select {
  position: relative;
  width: 170px;
  border-radius: 0.4em;
  border: 1px solid grey;
  background: #101010;
}
main.projects-page section.filter form.container div.select:not(:last-child) {
  margin-right: 1em;
}
main.projects-page section.filter form.container div.select div.current {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5em;
}
main.projects-page section.filter form.container div.select div.current input {
  width: max-content;
  background: none;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  outline: 0;
  border: 0;
  width: 80%;
  pointer-events: none;
  color: rgb(245, 245, 245);
}
main.projects-page section.filter form.container div.select div.current span {
  display: block;
  height: 20px;
  width: 20px;
}
main.projects-page section.filter form.container div.select div.current span svg {
  width: 100%;
  height: 100%;
}
main.projects-page section.filter form.container div.select div.current input, main.projects-page section.filter form.container div.select div.current span {
  pointer-events: none;
}
main.projects-page section.filter form.container div.select ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  transition: 0.3s;
  height: 0;
  overflow: hidden;
  background: #101010;
  border: 1px solid grey;
  border-top: 0;
  border-radius: 0 0 0.15em 0.15em;
}
main.projects-page section.filter form.container div.select ul li {
  padding: 1em 0.5em;
  font-size: 0.9rem;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}
main.projects-page section.filter form.container div.select ul li:hover {
  background: rgb(57, 94, 205);
}
main.projects-page section.filter h1 {
  font-size: 0.8rem;
  font-weight: 500;
  margin-right: 2em;
  margin-left: 1.25em;
}
main.projects-page section.project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}