@import '../config';

main.one-project-page {
   padding: 1em 0 4em 0;
   min-height: 100vh;
   @include Center(70%);
   margin-top: $navHeight;

   article.container {
      h2 {
         text-transform: uppercase;
         font-weight: 600;
         font-size: .9rem;
         margin-bottom: 1em;
      }

      section:not(.title-links) {
         margin-top: 3.5em;
         @include Flex(sb, c);
         font-family: 'Roboto Mono', monospace;

         div.wrap { width: 50%; }

         span.icon {
            @include Rectangle(clamp(30px, 8vw, 60px));
            svg { @include FullSize; }
         }

         &.description p {
            white-space: pre-line;
         }

         p {
            @include Clamp(.85, 4, .95);
            font-weight: 400;

            figure {
               width: 100%;
               margin: .5em 0;

               img {
                  width: 100%;
               }
            }
         }

         ul {
            list-style: none;

            li {
               font-weight: 400;
               color: rgb(229, 229, 229);
               position: relative;
               @include Clamp(.85, 4, .9);

               &:not(.clear) {
                  &::before {
                     content: '';
                     position: absolute;
                     top: 50%;
                     transform: translateY(-50%);
                     right: calc(100% + 6px);
                     width: 8px;
                     height: 2px;
                     background: royalblue;
                  }
               }
            }
         }
      }

      section.title-links {
         @include Flex(sb, c);
         padding: 2em;
         background: #202020;

         h1 {
            @include Clamp(1.25, 6, 2);
            width: 70%;
            font-weight: 700;
         }

         div.links {
            display: flex;

            span.icon {
               @include Rectangle(clamp(35px, 8vw, 40px));
               background: #303030;
               border: 1px solid #505050;
               border-radius: 50%;
               transition: .3s;
               cursor: pointer;
               @include Flex(c, c);
               position: relative;

               &::before {
                  content: attr(data-text);
                  width: max-content;
                  position: absolute;
                  left: 50%;
                  top: 105%;
                  transform: translateX(-50%);
                  font-size: .8rem;
                  padding: .5em;
                  background: #252525;
                  border-radius: .15em;
                  border: 1px solid #444444;
                  opacity: 0;
                  pointer-events: none;
                  transition: .3s;
               }

               svg { @include FullSize(65%); transition: .3s; }

               &:nth-child(2) {
                  margin-left: .75em;

                  svg { @include FullSize(55%); }
               }

               &:hover {
                  color: rgb(208, 208, 208);
                  background: #505050;
                  svg { transform: scale(.9); }
                  &::before { opacity: 1; }
               }

               &.red {
                  cursor: auto;
                  color: crimson;
               }
            }
         }
      }
   }

   section.thumbnail {
      width: 100%;
      aspect-ratio: 2;
      min-height: 200px;

      figure { 
         @include FullSize; 
         overflow: hidden;

         img {
            @include FullSize;
            object-fit: cover;
         }
      }
   }

   @media (max-width: 768px) {
      width: 95%;

      article.container {
         section.title-links {
            flex-direction: column;
            padding: 1em .5em;

            h1 {
               width: 100%;
               text-align: center;
               margin-bottom: 1em;
            }
         }
      }
   }

   @media (max-width: 480px) {
      article.container {
         section:not(.title-links) {
            div.wrap { width: 80%; }

            padding: 0 .75em;
         }
      }
   }
}