// # # # # # # # # # # # # # # # # # # COMMENTS # # # # # # # # # # # # # # # # # # # # #

/*
   Media queries: 1200px | 1000px | 768px | 480px
*/

// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #



// # # # # # # # # # # # # # # # # # # # COLORS # # # # # # # # # # # # # # # # # # # # #

$clr-blacklr: rgb(85, 85, 85);
$clr-blackl: rgb(60, 60, 60);
$clr-blackd: rgb(45, 45, 45);
$clr-blackdr: rgb(30, 30, 30);

$clr-whitelr: rgb(250, 250, 250);
$clr-whitel: rgb(240, 240, 240);
$clr-whited: rgb(225, 225, 225); 
$clr-whitedr: rgb(210, 210, 210); 

$clr-greylr: rgb(195, 195, 195);
$clr-greyl: rgb(180, 180, 180);
$clr-greyd: rgb(150, 150, 150);
$clr-greydr: rgb(110, 110, 110);

$clr-greenlr: rgb(16, 233, 77);
$clr-greenl: rgb(26, 203, 37);
$clr-greend: rgb(22, 174, 73);

$clr-bluelr:rgb(160, 214, 255);
$clr-bluel: rgb(109, 160, 255);
$clr-blued: rgb(49, 85, 190);
$clr-bluedr:rgb(45, 70, 143);

$clr-purplelr: rgb(146, 54, 193);
$clr-purplel: rgb(119, 44, 157);
$clr-purpled: rgb(100, 38, 131);
$clr-purpledr: rgb(79, 27, 105);

$clr-redlr: rgb(234, 18, 18);
$clr-redl: rgb(199, 11, 11);
$clr-redd: rgb(164, 19, 19);
$clr-reddr: rgb(131, 15, 15);

$clr-orangel: rgb(255, 136, 0);
$clr-oranged: rgb(230, 72, 15);

// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #



// # # # # # # # # # # # # # # # # # MIXINS # # # # # # # # # # # # # # # # # # # # # # # 

// Darkens the element on hover
@mixin HoverBG($transition: 250ms, $bg: auto, $color: auto) {
   transition: $transition;
   cursor: pointer;
   
   &:hover {
      @if $bg != auto or $color != auto {
         color: $color;
         background: $bg;
      }
      @else {
         filter: brightness(85%);
      }
   }
}

// Sets both width and height to $size
@mixin Rectangle($size: 100%, $disp: block) {
   width: $size;
   height: $size;
   display: $disp;
}

// Sets the minimum, current, and maximum width of a container
@mixin SetWidth($min: auto, $curr: auto, $max: none) {
   min-width: $min;
   width: $curr;
   max-width: $max;
}

// Resets the min/max width properties
@mixin ResetWidth {
   min-width: auto;
   max-width: none;
}

// Sets the z-index
@mixin Layer($zIndex: 2, $pos: relative) {
   position: $pos;
   z-index: $zIndex;
}

// Makes the responsive font size easier to use
@mixin Clamp($min, $vw, $max) {
   font-size: clamp(#{$min}rem, #{$vw}vw, #{$max}rem);
}

// Makes the flex properties easier to use
@mixin Flex($justify: none, $align: none, $dir: none) {
   display: flex;
   justify-content: FlexFunc($justify);
   align-items: FlexFunc($align);
   flex-direction: FlexDirFunc($dir);
}

// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #



// # # # # # # # # # # # # # # # HELPER FUNCTIONS # # # # # # # # # # # # # # # # # # # # #

@function FlexFunc($val) {
   $finalVal: none;

   @if $val == sb { $finalVal: space-between; }
   @else if $val == c { $finalVal: center }
   @else if $val == sa { $finalVal: space-around; }
   @else if $val == fe { $finalVal: flex-end; }
   @else if $val == fs { $finalVal: flex-start; }
   @else if $val == st { $finalVal: stretch; }

   @return $finalVal;
}

@function FlexDirFunc($val) {
   $finalVal: row;

   @if $val == c { $finalVal: column; }
   @else if $val == cr { $finalVal: column-reverse }
   @else if $val == rr { $finalVal: row-reverse; }
   
   @return $finalVal;
}

// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #



// # # # # # # # # # # # # # # # LOCAL PROJECT VARIABLES # # # # # # # # # # # # # # # # #

$navHeight: 86px;

// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #



// # # # # # # # # # # # # # # # # LOCAL PROJECT MIXINS # # # # # # # # # # # # # # # # # #

@mixin TopSeparator {
   position: relative;
   border-top: 1px solid #303030;

   &::before,
   &::after {
      position: absolute;
      content: '';
      top: 0;
      transform: translateY(-50%);
      width: 8%;
      padding: .75em 0;
   }

   &::before {
      left: 0;
      border-radius: 0 .2em .2em 0;
      background:linear-gradient(to right, #161616, #222121, #4a4a4a);
   }

   &::after {
      right: 0;
      border-radius: .2em 0 0 .2em;
      background:linear-gradient(to left, #161616, #222121, #4a4a4a);
   }
}

@mixin AboutStyle {
   position: relative;

   article.text {
      width: 55%;
      padding: 1em 2em 2em 2em;
      @include Flex(sb, none);
      flex-direction: column;
   }

   figure {
      width: 45%;
      height: 100vh;
      overflow: hidden;

      img {
         @include Rectangle;
         transition: 3s;
         object-fit: cover;
         display: block;
         transform: scale(2);
      }
   }

   section {
      &.timeline {
         margin-top: 2em;

         p.timeline {
            text-transform: uppercase;
            font-weight: 700;
            font-size: .9rem;
            letter-spacing: 1px;
            margin-bottom: .2em;
         }

         div.wrap {
            min-height: 225px;
            border-radius: .25em;
            position: relative;

            div.move-wrap {
               @include Rectangle;
               overflow: hidden;

               div.moving {
                  @include Rectangle;
                  display: flex;
                  transition: .3s;

                  article.element {
                     width: 100%;
                     min-height: 225px;
                     flex-shrink: 0;
                     background: rgb(29, 29, 29);
                     padding: 1em 1em 2.5em 1em;
                     border-radius: .25em;
                     @include Flex(sb, none);
                     flex-direction: column;
                     
                     p {
                        &.text {
                           color: whitesmoke;
                           font-size: 1rem;
                           font-weight: 200;
                        }

                        &.date {
                           font-weight: 700;
                           font-size: 1.25rem;
                           border-left: 3px solid royalblue;
                           padding-left: .4em;
                           margin-bottom: 1em;
                        }
                     }

                     div.chart {
                        width: 100%;
                        height: 3px;
                        background: $clr-whitel;
                        @include Flex(sa, c);
                        margin-top: 3em;
                        
                        span.year {
                           display: block;
                           width: 3px;
                           height: 20px;
                           background: white;
                           position: relative;

                           &::before {
                              content: attr(data-text);
                              position: absolute;
                              bottom: 100%;
                              left: 50%;
                              transform: translateX(-50%);
                              @include Clamp(.7, 3, .8);
                              font-weight: 600;
                           }

                           &.current {
                              color: royalblue;
                              background: royalblue;
                              width: 6px;
                           }

                           &.percent span {
                              height: 10px;
                              background: royalblue;
                              position: absolute;
                              left: 100%;
                              top: 50%;
                              transform: translateY(-50%);
                           }
                        }
                     }
                  }  
               }
            }

            section.buttons {
               position: absolute;
               left: 50%;
               top: calc(100% + 10px);
               translate: -50% 0;
               @include Flex(c, c);

               span {
                  @include Rectangle(15px);
                  margin: 0 .25em;
                  border-radius: 50%;
                  background: #aaa;
                  z-index: 4;
                  @include HoverBG(300ms, #ddd);

                  &.active {
                     background: royalblue;
                     pointer-events: none;
                  }
               }
            }
         }
      }

      &.socials {
         @include Flex(none, c);
         margin-top: 4em;
         
         span {
            @include Rectangle(35px);
            color: $clr-whitel;
            margin-right: 1em;
            @include HoverBG(300ms, none);
         }        
      }

      &.author {
         p.author {
            @include Clamp(2, 8, 3);
            font-weight: 800;
         }

         p.role {
            @include Clamp(.925, 5, 1);
            color: rgb(179, 179, 179);
            font-weight: 400;
            border-left: 3px solid royalblue;
            padding-left: .5em;
            margin-top: .5em;
         }

         section.paragraph {
            padding: 1.5em;
            background: #1d1d1d;
            margin-top: 3em;
            position: relative;
            border-radius: .25em;

            p {
               font-family: 'Roboto Mono', monospace;
               @include Clamp(.8, 4, 1);
               font-weight: 500;
               color: rgb(175, 175, 175);
               position: relative;
               z-index: 4;
               font-style: italic;

               span {
                  font-style: normal;
                  display: block;
                  color: $clr-whitel;
                  margin-top: 2em;
                  letter-spacing: -1px;
                  text-transform: uppercase;
                  font-weight: 700;
               }
            }

            span.quote {
               width: 10%;
               color: rgb(80, 80, 80);
               opacity: .2;
               position: absolute;
               top: 50%;
               translate: 0 -50%;

               &:first-of-type {
                  translate: -100% -50%;
                  right: 5%;
               }

               &:last-of-type { right: 2%; }
            }
         }
      }
   }

   @media (max-width: 768px) {
      padding: 2em 0;

      figure {
         position: absolute;
         left: 0;
         top: 0;
         @include Rectangle;
         z-index: -1;
         filter: brightness(.2);

         img {
            @include Rectangle;
            object-fit: cover;
         }
      }

      article.text { width: 100%; }

      section.socials { justify-content: center; }

      section.timeline { margin-top: 3.5em; }
   }

   @media (max-width: 480px) {
      padding: 1em 0 3em 0;

      article.text { padding: 1em; }
   }
}

@mixin ContactStyle {
   section.contact-text {
      @include SetWidth(480px, 35vw, 100%);
      margin: 0 auto;
      @include Flex(sb);
      padding: 1em;
      flex-direction: column;
   
      section.mail-info {
         margin-top: 4em;
   
         p {
            @include Clamp(1, 5, 1.2);
   
            &.mail-header {
               font-weight: 800;
               margin-bottom: .5em;
               color: $clr-whitel;
            }
   
            &.mail-text {
               font-family: 'Roboto Mono', monospace;
               padding: .5em;
               font-weight: 400;
               background: #252525;
               border-radius: .25em;
               color: rgba(245, 245, 245, .6);
            }
         }
      }
   
      section.socials {
         @include Flex(sa, c);

         span {
            cursor: pointer;
            @include SetWidth(35px, 12%);
            aspect-ratio: 1;
            border-radius: .25em;
            border: 2px solid grey;
            @include Flex(c, c);
            transition: .3s;
            
            svg {
               @include Rectangle(70%);
               pointer-events: none;
               transition: .3s;
            }
   
            &:hover {
               rotate: 45deg;
   
               svg { rotate: -45deg; }
            }
         }
      }

      @media (max-width: 768px) {
         margin-bottom: 2em;
         @include ResetWidth;
         width: 100%;
      }
   }
}

// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #