* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-weight: 300;
}

div.App { overflow-x: hidden; }

@import './config';

body {
   min-height: 100vh;
   width: 100vw;
   overflow-x: hidden;
   color: white;
   font-family: 'Sora', sans-serif;
   background: #181818;
   scroll-behavior: smooth;

   &::-webkit-scrollbar {
      width: 4px;
      background: #303030;
   }

   &::-webkit-scrollbar-thumb {
      width: 100%;
      background: royalblue;
   }
}

div.layout-arrow-top {
   position: fixed;
   bottom: 5px;
   right: 5px;
   @include Rectangle(25px);
   background: royalblue;
   z-index: 99;
   border-radius: .25em;
   @include Flex(c, c);
   cursor: pointer;
   transition: .3s;
   opacity: 0;
   pointer-events: none;

   span {
      transition: .3s;
      @include FullSize(80%);
      @include Flex(c, c);
      transform: rotate(270deg) rotateX(180deg);

      svg { @include FullSize; }
   }

   &:hover {
      background: rgb(80, 135, 238);

      span { transform: scale(.8) rotate(270deg) rotateX(180deg); }
   }
}

span.background-icon {
   position: absolute;
   aspect-ratio: 1;
   z-index: -1;

   svg {
      color: #303030;
      opacity: .1;
      
      @include FullSize;
   }
}

// PROJECT - SMALL INFO
article.project-small {
   background: #151515;
   width: 338px;
   margin: 0 1.5em;
   aspect-ratio: 1;
   min-height: 260px;
   margin-bottom: 3em;
   border-radius: .5em;

   div.wrap {
      height: 55%;
      @include Flex(sb, none);
      padding: .5em;
      flex-direction: column;
   }

   section.tags {
      @include Flex(sb, c);

      button {
         transition: .3s;
         padding: .5em 1em;
         border-radius: .15em;
         outline: 0;
         border: 0;
         background: rgb(58, 93, 200);
         transition: .3s;
         cursor: pointer;

         label {
            color: $clr-white;
            font-weight: 500;
            @include Clamp(.8, 4, .9);
            font-family: 'Sora', sans-serif;
         }

         &:hover {
            background: darken(royalblue, 15%);
         }
      }

      ul {
         list-style: none;
         display: flex;

         li {
            &:not(:first-child) { margin-left: .5em; }
            position: relative;

            &::before {
               width: max-content;
               content: attr(data-text);
               padding: .25em .5em;
               font-size: .8rem;
               background: royalblue;
               position: absolute;
               top: calc(100% + 2px);
               border-radius: .25em;
               pointer-events: none;
               opacity: 0;
               transition: .5s;
               left: 50%;
               transform: translateX(-50%);
            }

            span {
               @include Rectangle(clamp(23px, 7vw, 30px));
               @include Flex(c, c);
               border-radius: 50%;
               border: 1px solid $clr-white;
               transition: .5s;

               svg { @include FullSize(80%); }
            }

            &:hover {
               &::before { opacity: 1; }

               span {
                  background: $clr-white;

                  svg { color: $clr-black; }
               }
            }
         }
      }
   }

   h2 {
      font-weight: 600;
      margin: .2em 0;
      @include Clamp(1, 6, 1.5);
   }

   p {
      @include Clamp(.8, 4, .9);
      font-weight: 300;
   }

   figure {
      width: 100%;
      height: 45%;
      overflow: hidden;

      img {
         @include FullSize;
         object-fit: cover;
         transition: .3s;
      }
   }
}


// CONTACT FORM AND TEXT
form.mail-form {
   width: 57%;
   border-radius: .2em;
   border: 1px solid #303030;
   padding: 2em;

   textarea,
   input {
      width: 100%;
      background: none;
      border: 0;
      outline: 0;
      padding: .5em;
      color: $clr-white;
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      transition: .3s;
      @include Clamp(.75, 4, 1);
   }

   label.input-label {
      position: absolute;
      left: 0;
      text-transform: uppercase;
      @include Clamp(.75, 4, .9);
      color: grey;
      transition: .5s;
      pointer-events: none;
   }

   button {
      width: 180px;
      height: 55px;
      outline: 0;
      margin-top: 1.5em;
      background: #181818;
      border: 2px solid rgb(56, 91, 196);
      cursor: pointer;
      position: relative;

      &, & > * { transition: .3s; }

      &::before,
      &::after {
         content: '';
         position: absolute;
         z-index: 2;
         background: #181818;
         transition: .3s;
      }

      &::before {
         width: 70%;
         height: calc(100% + 4px);
         top: -2px;
         left: 50%;
         transform: translateX(-50%);
      }

      &::after {
         width: calc(100% + 4px);
         height: 60%;
         top: 50%;
         left: -2px;
         transform: translateY(-50%);
      }

      label {
         @include Clamp(.85, 4, 1);
         font-family: 'Sora', sans-serif;
         font-weight: 400;
         color: rgb(81, 122, 247);
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         @include Flex(c, c);
         z-index: 4;
         height: 100%;
         background: #181818;
      }

      &:hover {
         background: rgb(56, 91, 196);

         label { 
            color: $clr-white; 
            background: transparent;
         }

         &::before { transform: translateX(-50%) scaleX(0); }
         &::after { transform: translateY(-50%) scaleY(0); }
      }
   }

   h6.error {
      color: rgb(230, 10, 10);
      position: absolute;
      width: max-content;
      font-size: .75rem;
      font-weight: 400;
      animation: anim .25s;
      animation-delay: 1.75s;

      @keyframes anim {
         0% { opacity: 1; }
         100% { opacity: 0; }
      }
   }

   div.textarea {
      position: relative;
      margin-top: 3em;
      height: 250px;
      background: #151515;
      border-radius: .15em;

      h6.error {
         bottom: 100%;
         right: 0;
      }

      label {
         top: .5em;
         left: .5em;
      }

      textarea {
         width: 100%;  
         height: 100%;
         resize: none;
      }
   }

   div.input-div {
      position: relative;

      span.error {
         top: 110%;
         left: 0;
      }

      label {
         top: 50%;
         transform: translateY(-50%);
      }

      input {
         border-bottom: 1px solid royalblue;
      }
   }

   div.div-wrap {
      @include Flex(sb, none);
      margin-bottom: 3em;

      div.input-div { width: 45% }
   }
}
section.contact-text {
   width: 28%;

   h6 {
      color: red;
      font-size: .8rem;
   }

   p {
      font-weight: 400;
      @include Clamp(.85, 4, .95);
      color: rgb(207, 207, 207);
   }
   
   h2 {
      font-weight: 700;
      margin-bottom: 2em;
      @include Clamp(1, 5, 1.5);
      text-transform: uppercase;font-family: 'Roboto Mono', monospace;
   }
}

@media (max-width: 768px) {
   section.contact-text,
   form.mail-form { width: 100%; margin-bottom: 2em; }

   section.contact-text {
      margin-bottom: 2em;
   }
}

@media (max-width: 480px) {
   form.mail-form {
      padding: 1.5em .5em;

      div.div-wrap {
         flex-direction: column;
         margin-bottom: 0;

         div.input-div { width: 100%; margin-bottom: 2.2em; }
      }
   }
}