@import './config';


* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-weight: 300;
}

div.App,
div#root { overflow-x: hidden; }

body {
   min-height: 100vh;
   width: 100vw;
   overflow-x: hidden;
   color: #fff;
   font-family: 'Sora', sans-serif;
   background: #181818;
   scroll-behavior: smooth;

   @font-face {
      font-family: 'Sora';
      src: url('../data/Sora.ttf');
   }

   @font-face {
      font-family: 'Roboto Mono';
      src: url('../data/RobotoMono.ttf');
   }
}

svg { @include Rectangle; }

span.layout-arrow-top {
   position: fixed;
   bottom: 5px;
   right: 5px;
   @include Rectangle(30px);
   background: $clr-blued;
   z-index: 99;
   @include Flex(c, c);
   opacity: 0;
   pointer-events: none;
   @include HoverBG(250ms, $clr-bluedr);

   svg { @include Rectangle(65%); }
}

span.background-icon {
   position: absolute;
   aspect-ratio: 1;
   z-index: -1;

   svg {
      color: #303030;
      opacity: .1;
   }
}
